<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="MyConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CGDatabase.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="ComputerGraphics.Settings.connection_settings" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Database\CGDatabase.mdf&quot;;Integrated Security=True"
      providerName="" />
  </connectionStrings>-->
  <!--<userSettings>
    <ComputerGraphics.Settings>
      <setting name="connection_settings" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\School Stuffs\DIPLOMOVKA\Computer Graphics\WpfApp1\Database\CGDatabase.mdf";Integrated Security=True</value>
      </setting>
    </ComputerGraphics.Settings>
  </userSettings>-->
  <connectionStrings>
    <add name="ComputerGraphics.Properties.Settings.connection_settings"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;\\CGDatabase.mdf&quot;;Integrated Security=True" />
  </connectionStrings>
</configuration>